<h1>Audio Files</h1>

<ul>
  <% @files.each do |file| %>
    <li>
      <a href="/<%= file %>"><%= file %></a>
    </li>
  <% end %>
</ul>

<a href="/mix">Mix</a><br/>
<a href="/remove_mix">Remove Mix</a><br/>
<a href="/listen">Listen</a><br/>
